<!--
<div class="container">
<app-navigation></app-navigation>
<router-outlet></router-outlet>
    <div class="container">
        <br>
        <br>
        <hr>
    </div>
</div>
-->

<!-- app.component.html -->
<!-- app.component.html -->
<div class="container">
  <app-navigation></app-navigation>
  <router-outlet></router-outlet>

  <div class="about-me-box">
    <div class="about-me">
      <h2>About Me</h2>
      <img src="assets/me.jpg" alt="Pasquale" class="profile-photo" />

      <p><strong>Ciao! Puoi trovarmi qui:</strong></p>

      <h3>Contact Me:</h3>
      <p>Email: <a href="mailto:drspql03b03d086c@studenti.unical.it">drspql03b03d086c@studenti.unical.it</a></p>

      <h3>Social Media:</h3>
      <ul class="social-media-list">
        <li><a href="https://www.linkedin.com/in/your-profile" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
        <li><a href="https://www.instagram.com/your-profile" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <br>
    <br>
    <hr>
  </div>
</div>

